@media screen and (min-width: 768px) {
  header .title {
    font-size: 35px;
    width: 250px;
  }
  .main-blog section {
    grid-template-columns: 1fr 1fr;
  }
  .main-np {
    height: 1020px;
  }
  .main-np section {
    height: 600px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 50%);
  }
  .main-np section .nombre-producto {
    display: none;
  }
  .main-np .ajo img, .main-np .cebolla img, .main-np .zanahoria img {
    padding: 0 200px;
  }
}
@media screen and (min-width: 1024px) {
  header .title {
    font-size: 50px;
    width: 350px;
  }
  #entrada3 {
    display: block;
  }
  .main-blog section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .main-np {
    height: 1000px;
  }
  .main-np section {
    height: 600px;
    grid-template-rows: repeat(3, 80%);
  }
  .main-np .ajo img, .main-np .cebolla img, .main-np .zanahoria img {
    padding: 0 100px;
  }
}
/* atributos para todo el sitio */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
  background-color: rgb(0, 0, 0); /* Color de fondo negro */
}
header .icono {
  display: none;
  width: 80px;
  height: 78px;
  position: absolute;
  top: 42px;
  right: 240px;
  text-align: right;
}
header .title {
  color: white;
  font-size: 20px;
  width: 170px;
  height: 60px;
  position: absolute;
  top: 36px;
  right: 40px;
  text-align: right;
}
header .subtitle {
  display: none;
  color: whitesmoke;
  font-size: medium;
  font-weight: normal;
  font-style: italic;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 195px;
  right: 40px;
  text-align: right;
}
header .banner {
  width: 100%;
}

nav {
  background-color: whitesmoke;
  color: black;
  list-style: none;
  text-decoration: none;
  text-align: center;
}

.navbar-brand {
  width: 10%;
}

.nav-item {
  color: white;
}

main .whatsapp {
  position: sticky;
  bottom: 10px;
  text-align: right;
}
main .whatsapp .whatsapp-icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
main .suscribete {
  width: 100px;
}
main .email {
  width: 200px;
}

.main-index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}
.main-index p {
  margin: 10px;
}
.main-index .newsLetter {
  text-align: center;
  font-size: larger;
  margin-top: 40px;
  margin-bottom: 0;
}
.main-index .subletter {
  text-align: center;
  font-size: 10px;
  margin-top: 0px;
  margin-bottom: 4px;
}

.main-np {
  text-align: center;
  margin: 10px;
}
.main-np section {
  height: 80vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(3, 25%);
  row-gap: 10px;
}
.main-np section .nombre-producto {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.main-np .ajo img, .main-np .cebolla img, .main-np .zanahoria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-blog {
  text-align: center;
}
.main-blog section {
  display: grid;
  grid-template-columns: 1fr; /* repeat(auto-fill, minmax(300px, 1fr)); */
  gap: 20px;
  padding: 20px;
}
.main-blog section .entradas {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  position: relative;
}
.main-blog #entrada3 {
  display: none;
}
.main-blog .full {
  display: none;
}
.main-blog .entradas:target .full {
  display: block;
}
.main-blog .entradas:target .short {
  display: none;
}
.main-blog .leer {
  display: inline-block;
  margin-top: 10px;
  background-color: #007BFF;
  color: white;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
.main-blog div img {
  width: 70%;
  height: 15%;
  object-fit: cover;
}

.main-r {
  text-align: center;
  margin: 10px;
}
.main-r .recetas {
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
}
.main-r .recetas img {
  width: 70%;
  height: 15%;
}
.main-r .recetas ul, .main-r .recetas ol {
  text-align: start;
  padding-left: 15px;
  font-size: 12px;
}

footer {
  text-align: center;
  margin-top: 5px;
  background-color: black;
  color: white;
}
footer p {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
