// import

@import "utilidades/variables";
@import "utilidades/mixin";


/* atributos para todo el sitio */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    width: 100%;
    background-color: rgb(0, 0, 0);

    /* Color de fondo negro */
    .icono {
        display: none;
        @include medidas(80px, 78px);
        position: absolute;
        top: 45px;
        right: 200px;
        text-align: right;
    }

    .title {
        color: $color-letra;
        font-size: 20px;
        @include medidas(170px, 60px);
        position: absolute;
        top: 36px;
        right: 40px;
        text-align: right;
    }

    .subtitle {
        display: none;
        color: whitesmoke;
        font-size: medium;
        font-weight: normal;
        font-style: italic;
        @include medidas(300px, 100px);
        position: absolute;
        top: 195px;
        right: 40px;
        text-align: right;
    }
    .banner {
        width: 100%;
    }
    nav {
        background-color: $color-principal;
        text-align: $centrado;
    }
    .navbar-brand {
        width: 20%;
    }
    .nav-item {
        list-style: none;
        text-decoration: none;

        .nav-link {
            color: $color-letra;
        }
    }
}
main {
    .whatsapp {
        position: sticky;
        bottom: 10px;
        text-align: right;

        .whatsapp-icon {
            @include medidas(40px, 40px);
            margin-right: 10px;
        }
    }

    .suscribete {
        width: 100px;
    }

    .email {
        width: 200px;
    }
}

.main-index {
    display: flex;
    flex-direction: column;
    justify-content: $centrado;
    text-align: $centrado;
    margin-top: 10px;

    .parrafos {
        margin: 15px;

        .bienvenida,
        .descripcion {
            margin: 20px;
        }

        .canister,
        .vegetables {
            display: none;
            @include medidas(200px, 200px)
        }
    }

    .newsLetter {
        text-align: $centrado;
        font-size: 30px;
        margin-top: 40px;
        margin-bottom: 0;
    }

    .subletter {
        text-align: $centrado;
        font-size: 15px;
        margin-top: 0px;
        margin-bottom: 4px;
    }
}

.main-np {
    text-align: $centrado;
    margin: 10px;
    section {
        display: grid;
        grid-template-columns: 3fr;
        row-gap: 10px;
        .ajo, .cebolla, .zanahoria {
        border: 1px solid black;
        padding: 10px;
        border-radius: 50px;
            img {
                object-fit: cover;
                border-radius: 20px;
                height: 280px;
                width: 176px;
            }
            #nombre-producto{
                height: 20px;
            }
            .nombre-producto {
            color: black;
            }
            .descripcion-product{
                display: none;
            }
        }
    }
}

.main-blog {
    text-align: $centrado;
    p{
        padding: 30px;
    }
    section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
        margin: 20px;

        .entradas {
            border: 1px solid #ccc;
            padding: 10px;
            padding-bottom: 180px;
            border-radius: 10px;
            position: relative;
        }
    }

    #entrada3 {
        display: none;
    }

    .full {
        display: none;
    }

    .entradas:target .full {
        display: block;
    }

    .entradas:target .short {
        display: none;
    }

    .leer {
        display: inline-block;
        margin-top: 10px;
        background-color: #007BFF;
        color: $color-letra;
        padding: 10px;
        border-radius: 5px;
        text-decoration: none;
    }

    div {
        img {
            @include medidas(70%, 15%);
            object-fit: cover;
        }
    }
}

.main-r {
    text-align: $centrado;
    margin: 10px;

    .recetas {
        border: 1px solid $color-principal;
        border-radius: 10px;
        padding: 5px;

        img {
            @include medidas(70%, 15%);
        }

        ul,
        ol {
            text-align: start;
            padding-left: 15px;
            font-size: 12px;
        }
    }
}

footer {
    text-align: $centrado;
    margin-top: 10px;
    background-color: $color-principal;
    color: $color-letra;
    padding: 5px;

    img {
        @include medidas(20px, 20px);
        margin: 10px;
    }
}

@import "utilidades/mq";