@media screen and (min-width: 768px){
    header{
        .title{
        font-size: 35px;
        width: 250px;
        }
        .subtitle{
            display: block;
        }
        .navbar-brand{
            width: 20%;
        }
        .icono{
            display: block;
        }
    }
    .main-index{
        .parrafos{
            display: grid;
            grid-template-columns: 1fr 4fr 1fr;
            .canister, .vegetables{
                display: block;
                grid-row: span 2;
                position: sticky;
                top: 200px;
            }
            .bienvenida, .descripcion{
                grid-column: span 2;
            }
        }
        
    }
    .main-blog{
        section{
            grid-template-columns: 1fr 1fr;
        }
    }
    .main-np{
        height: 1020px;
        section{
            height: 600px;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 50%);
            .nombre-producto{
                display: none;
            }
        }
        .ajo, .cebolla, .zanahoria{
            img{
                padding: 0 200px;
            }
        }
    }
}
@media screen and (min-width: 1024px){
    header {
        .title{
        font-size: 50px;
        width: 350px;
        }
        .subtitle{
            top: 250px;
        }
        nav{
            margin-right: 80px;
            margin-left: 80px;   
        }
        .icono{
            display: block;
            width: 120px;
            height: 120px;
            top: 50px;
            right: 270px;
        }
    }
    #entrada3{
        display: block;
    }
    .main-blog {
        section{
        grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .main-np{
        height: 1800px;
        section{
            height: 600px;
            grid-template-rows: repeat(3, 80%);
        }
        .ajo, .cebolla, .zanahoria{
            img{
            padding: 0 300px;
            }
        }
    }
}
